<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
</head>

<body>
  <a href="/">
    <h1>メモアプリ</h1>
  </a>
  <h2>404 Not Found</h2>
  <h3>The requested URL <%= request.fullpath %> was not found on this server.</h3>
</body>
</html>

