<p>
  <%= @memo["title"] %>
</p>
<p>
  <%= @memo["description"] %>
</p>
<p>
  <%= link_to("/memo/#{@memo_id}/edit", '編集') %>
</p>
<p>
  <form method="post" action="/memo/<%= @memo_id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除">
  </form>
</p>
