<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
</head>

<body>
  <a href="/">
    <h1>メモアプリ</h1>
  </a>
  <p>
    <%= @memo %>
  </p>
  <p>
    <a href="/">
    <%= link_to("/memo/#{@memo[0]}/edit", '編集') %>
  </p>
</body>
</html>



