<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
</head>

<body>
  <a href="/">
    <h1>メモアプリ</h1>
  </a>
  <h2>メモを追加</h2>
  <form method="post">
    <label for="tile">タイトル: </label>
    <input type="text" name="tile" id="tile" required>
    <label for="description">詳細: </label>
    <input type="text" name="description" id="description" required>
    <input type="submit" value="追加">
  </form>
</body>
</html>
